//Font
//$font-site: Heebo, Arial, sans-serif, OpenSans, Inter, Mulish, Poppins, ProximaNova, Helvetica Neue, Roboto, Nunito;
$font-site: OpenSans;

$header-height: 90px;

// Colors
$success-color: #009944;
$error-color: #cf000f;
$warning-color: #f0541e;
$info-color: #63c0df;

// Gaps
$gap-small: 5px;
$gap-medium: 10px;
$gap-large: 20px;
$gap-huge: 30px;

// Font Sizes
$font-small: 12px;
$font-medium: 14px;
$font-large: 16px;
$font-huge: 32px;
